.container {
	max-width: 100%;
	margin: 0 auto;
}
.clearfix: before,
.clearfix: after {
	content: " ";
	display: table;
}
.clearfix: after {
	clear: both;
}
.clearfix {
	*zom: 1;
}

a:link 
{ 
 text-decoration:none; 
}
html, body {
	width: 100%;
	margin: 0;
	border: 0;
}


img, picture, video, embed {
	max-width: 100%;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container img {
	align: center;
	width: 50% cover;
	height: 50% cover;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image: url();
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-attachment: fixed;
}

.navbar {
	width: 100%;
	height: auto;
	background-color: #000000;
	float: left;
	color: #FFD700;
	text-align: left;
}
.navbar font[id="title"] {
	margin-left: 10%;
	font-family: Arial;
	font-size: 250%; /*3.2em*/
	font-weight: bold;
}
.navbar font[id="back"] {
	margin-left: 0.2em;
	float: left;
	text-align: left;
	font-family: Arial;
	font-size: 250%; /*3.2em*/
	font-weight: bold;
	color: #FFD700;
}
/*.back {
	width: auto;
	height: 10%;
	float: left;
	margin-top: -12;
	margin-left: 2;
	font-family: Arial;
	font-size: 200%;
	text-align: left;
	color: #FFD700;

}
*/

.rede {
	float: left;
	width: 100%;
	height: auto;
	display: none;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	animation: fadeoutrede 2s forwards;
	-webkit-animation: fadeoutrede 2s forwards;
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
@keyframes fadeoutrede {
	from	{ opacity: 1; display: block;}
	to	{ opacity: 0; display: none;}
}
@-webkit-@keyframes fadeoutrede {
        from    { opacity: 1; display: block;}
        to      { opacity: 0; display: none;}
}

.header {
	width: 100%;
	height: auto;
	background-color:#FFFFFF; /*000000 FFFFFF*/
	float: left;
		opacity: .90;
		-moz-opacity: .90;
		filter:alpha(opacity=90); /*90*/
}

.controle {
	margin-top: 5%;
	float: left;
	width: 50%;
	height: auto;
	min-height: 50%;
	border-style: solid;
	border-size: 1px;
	border-radius: 10px;
	border-color: #FFFFFF;
	text-align: center;
	background-color: #008000; /*#87CEFA*/
}
.controle:hover {
	background-color: #00FF00;
}
.controle font {
	font-size: 150%; /*200% - 4.0em*/
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}
.controle img {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}
.light {
	margin-top: 5%;
	float: left;
	width: 50%;
	height: auto;
	min-height: 50%;
	border-style: solid;
	border-size: 1px;
	border-radius: 10px;
	border-color: #FFFFFF;
	text-align: center;
	background-color: #FF69B4;
}
.light:hover {
	background-color: #FFD700;
}
.light font {
	font-size: 150%; /*200% -4.0em*/
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}
.light img {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.persiana {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #0000CD;
}
.persiana:hover {
        background-color: #00BFFF;
}
.persiana font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.persiana img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}

.ar {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #ADD8E6;
}
.ar:hover {
        background-color: #FF0000;
}
.ar font {
        font-size: 150%; /*200% -4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.ar img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}

.cam {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #000000;
}
.cam:hover {
        background-color: #FF1493;
}
.cam font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.cam img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}

.chaves {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #DC143C;
}
.chaves:hover {
        background-color: #FFD700;
}
.chaves font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.chaves img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}


.event {
	margin-top: 5%;
	float: left;
	width: 50%;
	height: auto;
	min-height: 50%;
	border-style: solid;
	border-size: 1px;
	border-radius: 10px;
	border-color: #FFFFFF;
	text-align: center;
	background-color: #20B2AA;
}
.event:hover {
	background-color: #00008B;
}
.event font {
	font-size: 150%; /*200% - 4.0em*/
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}
.event img {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.config {
	margin-top: 5%;
	float: left;
	width: 50%;
	height: auto;
	min-height: 50%;
	border-style: solid;
	border-size: 1px;
	border-radius: 10px;
	border-color: #FFFFFF;
	text-align: center;
	background-color: #A9A9A9;
}
.config:hover {
	background-color: #FF0000;
}
.config font {
	font-size: 150%; /*200% - 4.0em*/
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
}
.config img {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}
.logout {
	width: 95%;
	height: auto;
	float: left;
	text-align: right;
	background-color: ;
	color: #FF0000;
}

.info {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #0000FF;
}
.info:hover {
        background-color: #00FFFF;
}
.info font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.info img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}


.tv {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #4B0082;
}
.tv:hover {
        background-color: #800080;
}
.tv font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.tv img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}
.player {
        margin-top: 5%;
        float: left;
        width: 50%;
        height: auto;
        min-height: 50%;
        border-style: solid;
        border-size: 1px;
        border-radius: 10px;
        border-color: #FFFFFF;
        text-align: center;
        background-color: #FF0000;
}
.player:hover {
        background-color: #FF6347;
}
.player font {
        font-size: 150%; /*200% - 4.0em*/
        font-family: Arial;
        font-weight: bold;
        color: #FFFFFF;
}
.player img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
}
.musica-item{
	width: 16.0em;/*16.0em*/
	max-width: 90%;
	height: auto;
	float: left;
        word-wrap: break-word;
}
/*#fiel {
	width: 22.0em;
	max-width: 100%;
        height: auto;
        float: left;
        word-wrap: break-word;
}*/
#fiel:nth-child(odd) { background-color: #000000; color: #FFD700; }
#fiel:nth-child(even) { background-color: #FFD700; color: #000000; } 
.musica-remove{
	width: 4.0em;/*4.0em*/
	height: auto;
	float: left;
	text-align: center;
        word-wrap: break-word;
        font-weight: bold;
}
.musica-remove a{ color: red; }

.submitmusicup{
	float: right;
	margin-left: 1%;
	margin-right: 3%;
	width: auto;
	border: 1px solid #000000;
	border-radius: 25.0em;
}
.submitmusicup:hover { background-color: #FF0000; }


.item {
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	height: auto;
}
.item font {
	float: left;
	margin-left: 1.5em;
	font-size: 2.5em;
}
#out01, #out011, #out02, #out022, #out03, #out033, #out06, #out066 {
	float: left;
	width: 50%;
	height: 50%;
	border-radius: 1.0em;
	border-color: #000000;
	border-size: 1px;
	border-style: solid;
	margin-bottom: 1%;
}

#out07, #out077, #out08, #out088, #out05, #out055, #out04, #out044 {
        float: left;
        width: 50%;
        height: 50%;
        border-radius: 1.0em;
        border-color: #000000;
        border-size: 1px;
        border-style: solid;
	margin-bottom: 1%;
}

#sav font {font-size: 2.0em;font-weight: bold;}
#sav {margin-top:1%;text-align:left;font-size:1.5em;font-weight:bold;margin-left:1%;}
#sav input[id="pi"], input[id="pe01"], input[id="pe02"], input[id="pe03"], input[id="pe04"], 
input[id="pe05"], input[id="pe06"], input[id="pe07"], input[id="pe08"] { 
width: 45%;
float: right;
margin-right: 25%;
border-size: 1.0em;
border-style:solid 
border-color: #000000;
border-radius: 0.5em;
}
#sav input[id="pi"]:hover, 
input[id="pe01"]:hover, 
input[id="pe02"]:hover, 
input[id="pe03"]:hover , 
input[id="pe04"]:hover,
input[id="pe05"]:hover, 
input[id="pe06"]:hover, 
input[id="pe07"]:hover, 
input[id="pe08"]:hover {
border-size: 1.0em;
border-style: solid;
border-color: #FFD700;
border-radius: 0.5em;
}
/* inicio sessao cams*/
#sav input[id="cam01"], input[id="cam01-us"], input[id="cam01-pa"], 
input[id="cam01-ip"], input[id="cam01-porta"]
{
width: 45%;
float: right;
margin-right: 15%;
border-size: 1.0em;
border-style:solid
border-color: #000000;
border-radius: 0.5em;
}
#sav input[id="cam01"]:hover, 
input[id="cam01-us"]:hover, 
input[id="cam01-pa"]:hover,
input[id="cam01-ip"]:hover,
input[id="cam01-porta"]:hover
{
border-size: 1.0em;
border-style: solid;
border-color: #FFD700;
border-radius: 0.5em;
}


/* fim sessao cams*/

#sav input[id="salvar"] {
width: 5.0em;
font-size: 1.5em; 
background-color: #000000;
color: #FFD700;
border-size: 0.5em;
border-style: solid;
border-color: #FFD700;
border-radius: 2.5em;
}

#sav select[name="tipo01"], select[name="tipo02"], select[name="tipo03"],select[name="tipo04"], 
select[name="tipo05"], select[name="tipo06"], select[name="tipo07"], select[name="tipo08"] {
	float: right;
	margin-right: 25%;
	width: 10%;
	border-style: solid;
	border-color: #000000;
	border-size: 1.0em;
	border-radius: 0.5em;
}
.scroll-configu {
	float: left;
	overflow: scroll;
	width: 100%;
	height: 20em;
}

.event-new {
	float: left;
	width: 100%;
	height: auto;
	min-height: 15%;
	background-color: #808080;
}

.list-events {
	background-color: #DCDCDC ;
}

.ev-item {
	float: left;
	width: 100%;
	height: auto;
	background-color: blue;
	margin-bottom: 5px;
	text-align: center;
}
.ev-item font[id="title"]{
	float: left;
	font-size: 2.5em;
	margin-left: 1%;
}
.ev-item font[id="data-hora"]{
	float: right;
	font-size: 2.5em;
	color: gray;
	margin-right: 1%;
}
.ev-item font[id="dellev"]{
	float: right;
	font-size: 5.0em;
	color: red;
	margin-right: 1%;
}

.setup {
	text-align: left;
}
.temp {
	margin-top: 1%;
	text-align: center;
	font-size: 2.5em;
	color: gray;
}

/*SESSÃO BOTOES TV */
.espacamento { width:100%; float:left;height:auto; }
/*.tv-control img[id=""] {
	width: 4.0em;
	height: 4.0em;
}*/
.btnpower {
	width: 2.0em;
	height: 2.0em;
	float: right;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 1%;
	background-color: red;
	text-align: center;
	color: white;
	font-size: 1.5em;
	border-radius: 2.0em;
}
.btninput {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #008000;
	color: white;
        text-align: center;
	font-size: 1.0em;
}
.btnsound {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF4500;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicmode {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #20B2AA;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicsize {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
	margin-right: 0;
        margin-bottom: 1%;
        background-color: #800000;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnsleep{
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF1493;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmute {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #808080;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btninfo {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 1%;
        background-color: #800080;
	color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmenu {
        width: 20%;
        height: auto;
        float: left;
        margin-left: 1%;
	margin-right: 29%;
	margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
	color: white;
        text-align: center;
        font-size: 1.5em;
	border-radius: 1.0em;
}
.btnexit {
        width: 20%;
        height: auto;
        float: right;
        margin-right: 1%;
        margin-left: 29%;
	margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
	color: white;
        text-align: center;
        font-size: 1.5em;
	border-radius: 1.0em;
}
.btnsetacima {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 26%;
        margin-right: 26%;
        margin-bottom: 2%;
	margin-top: 2%;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnsetaesquerda {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 7%;
        margin-bottom: 0;
	margin-top: 0;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnenter {
        width: 19%;
        height: auto; /*10%*/
        float: left;
        margin-left: 18%;
	margin-right: 18%;
        margin-bottom: 0;
	margin-top: 0;
        background-color: black;
	color: white;
        text-align: center;
        font-size: 1.5em;
	border-radius: 0.5em;
	line-height: 2.3em;
}
.btnsetadireita {
        width: 15%;
        height: auto; /*15%*/
        float: right;
	margin-right: 7%;
        margin-bottom: 0;
        margin-top: 0;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnsetabaixo {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 26%; /*19*/
        margin-right: 26%; /*19*/
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvolup {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchup {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 1%;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvoldown {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchdown {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 1$;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btn1, .btn2, .btn3, .btn4, .btn5,
.btn6, .btn7, .btn8, .btn9, .btn0 {
        width: 19%;
        height: auto; /*5%*/
        float: left;
	margin-left: 1%;
        margin-bottom: 1%;
        background-color: black;
	color: white;
        text-align: center;
        font-size: 1.5em;

}

.control-player {
	width: 100%;
	height: auto;
	background-color: #000000;
	color: #FFD700;
	border-top-style: solid;
	border-top-size: 1px;
	border-top-color: #FFD700;
	border-bottom-style: solid;
	border-bottom-size: 1px;
	border-bottom-color: #FFD700;
}
.control-player img{
	margin-top: 1%;
	width: 10%;
	height: auto;
	margin-left: 1%;
}
.list-player {
	width: 100%;
	height: 69%;
	background-color: #DCDCDC;
	overflow-y: scroll;
}
.list-player font {
	color: #000000;
}

.loginbg {
	float: left;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-attachment: fixed;
}
.login {
	float: left;
	width: 40%;
	min-height: 40%;
	height: auto;
	margin-left: 30%;
	margin-top: 10%;
	background-color: #000000; /*#FFFFFF*/
	border-radius: 2.0em;
		opacity: .8;
		-moz-opacity: .80;
		filter:alpha(opacity=80);
}

#catlogin input[type="text"]{
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 4.0em;
}
#catlogin input[type="password"]{
	text-align: center;
	width: 90%;
        margin-left: 5%;
	margin-right: 5%;
        margin-top: 1.0em;
}
#catlogin button{
	font-size: 2.0em;
	margin-top: 1.0em;
	background-color: #000000;
	color: #FFD700;
}
