html, body { margin: 0; }
a:link 
{ 
 text-decoration:none; 
}

body {
	background-position: center center;
	background-image: url("../img/background.png");
	background-repeat: no-repeat no-repeat;
	background-size: cover cover;
	background-attachment: fixed;
}






.control-player {
	width: 100%;
	height: auto;
	background-color: #000000;
	color: #FFD700;
	border-top-style: solid;
	border-top-size: 1px;
	border-top-color: #FFD700;
	border-bottom-style: solid;
	border-bottom-size: 1px;
	border-bottom-color: #FFD700;
}
.control-player img{
	margin-top: 1%;
	width: 10%;
	height: auto;
	margin-left: 1%;
}
.list-player {
	width: 100%;
	height: 69%;
	background-color: #DCDCDC;
	overflow-y: scroll;
}
.list-player font {
	color: #000000;
}














/* desktop */
@media screen and (min-width: 800px) {
.container {
	float: left;
	width: 100%;
	height: 100%;
/*	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
}

.apresentacao {
	width: 100%;
	text-align: center;
	color: #FF0000;
	position: absolute;
	top: 40%;
}

.login {
	float: left;
	width: 50%;
	height: 90%;
	background-color: #A9A9A9;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.login:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.login input[type="submit"] {
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.login input[type="submit"]:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.cadastro {
	float: left;
	width: 50%;
	height: 90%;
	background-color: #A9A9A9;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.cadastro:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.cadastro input[type="submit"] {
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.cadastro input[type="submit"]:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.navbar {
	float: left;
	width: 100%;
	height: auto;
	font-size: 1.5em;
	background-color: #000000;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}
.navbar a { color: #FFFFFF; }
.navbar a[id="sair"] { float: right; }
.info {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #A9A9A9;
	color: #000000;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.info h1 { font-size: 3em; }
.home {
	float: left;
	width: 100%;
	height: 100%;
	background-color: ;
	color: ;
	text-align: center;
	font-weight: bold;
	overflow-y: hidden !important;
}
.um {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.um:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.dois {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.dois:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.tres {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.tres:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.quatro {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.quatro:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

/* inicio reles */
.rele {
	float: left;
	width: 100%;
	height: auto;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.rele:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
/* fim reles */

/* inicio tv */

.tv-control img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 4em;
        height: 4em;
}

.btnpower img {
		margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 2em;
        height: 2em;

}

/*SESSÃO BOTOES TV */
.espacamento { width:100%; float:left;height:auto; }
/*.tv-control img[id=""] {
	width: 4.0em;
	height: 4.0em;
}*/
.btnpower {
	width: 2.0em;
	height: 2.0em;
	float: right;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 1%;
	background-color: red;
	text-align: center;
	color: white;
	font-size: 1.5em;
	border-radius: 2.0em;
}
.btninput {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #008000;
		color: white;
        text-align: center;
		font-size: 1.0em;
}
.btnsound {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF4500;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicmode {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #20B2AA;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicsize {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
		margin-right: 0;
        margin-bottom: 1%;
        background-color: #800000;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnsleep{
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF1493;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmute {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #808080;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btninfo {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 1%;
        background-color: #800080;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmenu {
        width: 20%;
        height: auto;
        float: left;
        margin-left: 1%;
		margin-right: 29%;
		margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 1.0em;
}
.btnexit {
        width: 20%;
        height: auto;
        float: right;
        margin-right: 1%;
        margin-left: 29%;
		margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 1.0em;
}
.btnsetacima {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 26%;
        margin-right: 26%;
        margin-bottom: 2%;
		margin-top: 2%;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnsetaesquerda {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 7%;
        margin-bottom: 0;
		margin-top: 0;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnenter {
        width: 19%;
        height: auto; /*10%*/
        float: left;
        margin-left: 18%;
		margin-right: 18%;
        margin-bottom: 0;
		margin-top: 0;
        background-color: black;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 0.5em;
		line-height: 2.3em;
}
.btnsetadireita {
        width: 15%;
        height: auto; /*15%*/
        float: right;
		margin-right: 7%;
        margin-bottom: 0;
        margin-top: 0;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnsetabaixo {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 26%; /*19*/
        margin-right: 26%; /*19*/
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvolup {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchup {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 1%;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvoldown {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchdown {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 1$;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btn1, .btn2, .btn3, .btn4, .btn5,
.btn6, .btn7, .btn8, .btn9, .btn0 {
        width: 19%;
        height: auto; /*5%*/
        float: left;
		margin-left: 1%;
        margin-bottom: 1%;
        background-color: black;
		color: white;
        text-align: center;
        font-size: 1.5em;

}
/* fim tv */


.footer {
	float: left;
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
}

.footer2 {
	position: absolute;
	bottom: 0;
	float: left;
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
}


}



/* Smartphone */
@media screen and (max-width: 799px) {

.container {
	float: left;
	width: 100%;
	height: 100%;
}

.apresentacao {
	width: 100%;
	text-align: center;
	color: #FF0000;
	position: absolute;
	top: 40%;
}

.login {
	float: left;
	width: 100%;
	height: 15em;
	background-color: #A9A9A9;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.login:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.login input[type="submit"] {
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.login input[type="submit"]:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.cadastro {
	float: left;
	width: 100%;
	height: 15em;
	background-color: #A9A9A9;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.cadastro:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.cadastro input[type="submit"] {
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.cadastro input[type="submit"]:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.navbar {
	float: left;
	width: 100%;
	height: auto;
	font-size: 1.5em;
	background-color: #000000;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}
.navbar a { color: #FFFFFF; }
.navbar a[id="sair"] { float: right; }
.info {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #A9A9A9;
	color: #000000;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
.info h1 { font-size: 3em; }
.home {
	float: left;
	width: 100%;
	height: 100%;
	background-color: ;
	color: ;
	text-align: center;
	font-weight: bold;
}
.um {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}
.um:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.dois {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}
.dois:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.tres {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}
.tres:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.quatro {
	float: left;
	width: 48%;
	height: 5em;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding-top: 2.5em;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
}
.quatro:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}


/* inicio reles */
.rele {
	float: left;
	width: 100%;
	height: auto;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.rele:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}
/* fim reles */

/* inicio tv */

.tv-control img {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 4em;
        height: 4em;
}

.btnpower img {
		margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 2em;
        height: 2em;

}

/*SESSÃO BOTOES TV */
.espacamento { width:100%; float:left;height:auto; }
/*.tv-control img[id=""] {
	width: 4.0em;
	height: 4.0em;
}*/
.btnpower {
	width: 2.0em;
	height: 2.0em;
	float: right;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 1%;
	background-color: red;
	text-align: center;
	color: white;
	font-size: 1.5em;
	border-radius: 2.0em;
}
.btninput {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #008000;
		color: white;
        text-align: center;
		font-size: 1.0em;
}
.btnsound {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF4500;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicmode {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #20B2AA;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnpicsize {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
		margin-right: 0;
        margin-bottom: 1%;
        background-color: #800000;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnsleep{
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #FF1493;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmute {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-bottom: 1%;
        background-color: #808080;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btninfo {
        width: 19%;
        height: auto;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 1%;
        background-color: #800080;
		color: white;
        text-align: center;
        font-size: 1.0em;
}
.btnmenu {
        width: 20%;
        height: auto;
        float: left;
        margin-left: 1%;
		margin-right: 29%;
		margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 1.0em;
}
.btnexit {
        width: 20%;
        height: auto;
        float: right;
        margin-right: 1%;
        margin-left: 29%;
		margin-top: 2%;
        margin-bottom: 2%;
        background-color: #0000FF;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 1.0em;
}
.btnsetacima {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 21%; /*26%*/
        margin-right: 14%; /*26*/
        margin-bottom: 2%;
		margin-top: 2%;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnsetaesquerda {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 1%; /*7%*/
        margin-bottom: 0;
		margin-top: 0;
        background-color: ;
        text-align: center;
        font-size: 1.5em;
}
.btnenter {
        width: 19%;
        height: auto; /*10%*/
        float: left;
        margin-left: 25%;
		margin-right: 8%;
        margin-bottom: 0;
		margin-top: 4%;
        background-color: black;
		color: white;
        text-align: center;
        font-size: 1.5em;
		border-radius: 0.5em;
		line-height: 2.3em;
}
.btnsetadireita {
        width: 15%;
        height: auto; /*15%*/
        float: right;
		margin-right: 12%;
        margin-bottom: 0;
        margin-top: 0;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnsetabaixo {
        width: 15%;
        height: auto; /*15%*/
        float: left;
        margin-left: 21%; /*26*/
        margin-right: 14%; /*26*/
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvolup {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchup {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 13%;/*1%*/
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnvoldown {
        width: 15%;
        height: 15%;
        float: left;
        margin-left: 1%;
        margin-right: 0;
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btnchdown {
        width: 15%;
        height: 15%;
        float: right;
        margin-left: 0;
        margin-right: 13%; /*1%*/
        margin-bottom: 2%;
        margin-top: 2%;
        background-color:;
        text-align: center;
        font-size: 1.5em;

}
.btn1, .btn2, .btn3, .btn4, .btn5,
.btn6, .btn7, .btn8, .btn9, .btn0 {
        width: 19%;
        height: auto; /*5%*/
        float: left;
		margin-left: 1%;
        margin-bottom: 1%;
        background-color: black;
		color: white;
        text-align: center;
        font-size: 1.5em;

}
/* fim tv */


.footer {
	float: left;
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
}
.footer2 {
	position: absolute;
	bottom: 0;
	float: left;
	width: 100%;
	height: 10%;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
}





}